{{!< default}}

{{#post}}

  <article class="{{post_class}}">
    <header>
      <a id="back-button" class="btn small square" href="javascript:history.back()">« Voltar</a>
      <div class="post meta">
        <time datetime="{{date format="DD MMM YYYY"}}">{{date format="DD MMM YYYY"}}</time>
        <span class="post tags">{{tags prefix="em " separator=" "}}</span>
        {{!-- <span class="post author">
          <img src="{{author.image}}" alt="profile image for {{author.name}}"/> by {{author.name}}
        </span> --}}
        
      </div>
      

    </header>

    <section class="{{post_class}}">
      {{content}}
    </section>

  </article>

  {{> comments}}

{{/post}}
